langchain == 0.3.27
langchain-core == 0.3.79
langgraph == 0.6.10
langchain-cohere == 0.4.6
langchain-community == 0.3.31
cohere == 5.18.0
pytube == 15.0.0
youtube-transcript-api == 1.2.2
yt-dlp == 2025.9.26